.teachers--secondPart, .hiddenInRelative {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teachers--secondPart div, .hiddenInRelative div {
  margin: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teachers--secondPart div img:hover, .hiddenInRelative div img:hover {
  opacity: .5;
  cursor: pointer;
}
