.teachers--firstPart {
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    .teachers--firstPart--divOne, .teachers--firstPart--divTwo {
        display: flex;
        flex-flow: row;
        margin: 60px;
        
        img {
            margin-right: 30px;
            margin-top: 30px;
        }

        .About--text {
            display: flex;
            flex-flow: column;
            width: 409px;
        }
    }
}

.mainDotted--line {
    .bottom--menu {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        height: 503px;
        background: #565656;
        justify-content: space-around;
        margin: 0;

        img {
            display: none;
        }

        section {
            padding: 0;
            margin: 0;

            .noHeader {
                padding: 0;
                margin: 0;
            }
        }

        .bottom--fourthMenu {
            margin-bottom: 25px
        }

        .bottom--fourthMenu, .bottom--fifthMenu {
            width: 140px;
        }
    }
}

.mainDotted--line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    ul {
        display: flex;
        flex-flow: row;
    }

    li {
        height: 12px;
        width: 12px;
        border-radius: 100%;
        list-style: none;
        margin-left: 30px;
        margin-right: 30px;
        background: #DFF4F1;
    }
}